docker.runOptions = '-u $(id -u):$(id -g)'
dag.overwrite = true

plugins {
    id 'nf-amazon'
}

process {
    executor = 'awsbatch'
    queue = 'default-runworkflows'
}

// aws {
//     accessKey = ''
//     secretKey = ''
//     region = ''
//     profile = 'default'
// }
// AWS Credentials are used from the env. AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, AWS_REGION
// or profile from ~/.aws/credentials specified in aws.profile

// process.container = 'nextflow/rnaseq-nf'
